<div class="dropdown">
    <button href="/admin/products" class="dropbtn">Danh mục</button>
    <div class="dropdown-content">
        {{#each categories}}
        <a href="/admin/products?catID={{catID}}" onclick="redirectToCat('{{catID}}')"
            id="{{catID}}">{{catName}}
            <div class="sub-content">
                {{#each items}}
                <a href="/admin/products?itemID={{itemID}}" onclick="redirectToItem('{{itemID}}')"
                    id="{{itemID}}">{{itemName}}</a>
                {{/each}}
            </div>
        </a>
        {{/each}}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>

.dropdown {

        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 3;
        margin-right: 5px;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Style cho danh mục con */
    .sub-content {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 3;
    }

    .dropdown-content a:hover+.sub-content,
    .sub-content:hover {
        display: block;
    }
</style>
</div>
<script>
  
   function redirectToItem(itemID) {
    window.location.href = '/admin/products?itemID=' + itemID;
  }
   function redirectToCat(catID) {
    window.location.href = '/admin/products?catID=' + catID;
  }
  function showDrop(){
    document.querySelector('.dropdown-content').style.display = 'block';
  }
    function showSubContent() {
        document.querySelector('.sub-content').style.display = 'block';
    }

    function hideSubContent() {
        document.querySelector('.sub-content').style.display = 'none';
    }
</script>