<style>
    .container-fluid {
        
    }
    table {
        width: 80%;
        border-collapse: collapse;
        margin-left: 10%;
        margin-right: 5%;
        font-size: 18px;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
    }
    img {
        width: 40%;
        height: 40%;
    }
    #footerBill {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 20px;
        margin-top: 10px;
    }
    #totalSum {
        font-weight: bold;
    }
    .imgCart {
        margin: 5px;
        padding: 5px;
        width: 40%;
    }
</style>
    <div class="container-fluid">
        <h3 style="text-align: center; color: red; font-weight: bold; font-size: 30px; margin-top: 10px;">
            Hóa đơn
        </h3>
    <table>
        <tr>
            <th>Ảnh</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Số lượng</th>
        </tr>
        {{#each cart}}
            <tr>
                <td class="imgCart"><img src="{{this.image}}" alt=""></td>
                <td>{{this.name}}</td>
                <td><p class="priceBill">{{this.price}}</p></td>
                <td><p class="countBill">{{this.count}}</p></td>
            </tr>
        {{/each}}
    </table>
    <div id="footerBill">
        <p id="totalSum">Tổng tiền: </p>
        <button id="btn_checkout" class="btn btn-outline-primary" type="button" onclick="paymentWithSystem()">Thanh toán với hệ thống thanh toán</button>
    </div>
    
</div>

    <script>
        let totalSum = 0;
        function calculateTotalSum() {
            const priceElements = document.getElementsByClassName('priceBill');
            const countElements = document.getElementsByClassName('countBill');
            // Calculate the total sum
            for (let i = 0; i < priceElements.length; i++) {
                console.log(priceElements[i].innerText);
                console.log(countElements[i].innerText);
                totalSum += priceElements[i].innerText * countElements[i].innerText;
            }

            console.log(totalSum);

            // Update the content of the totalSum element
            document.getElementById('totalSum').innerText = 'Tổng tiền: ' + totalSum + ' đ'; // Assuming prices are in đồng
        }

        // Call the function when the page loads
        window.onload = calculateTotalSum;
        function paymentWithSystem() {
            const apiUrl = 'https://localhost:5000/transfer';
            const token = "{{token}}";
            const transferData = {
                total: totalSum
            };
            fetch(apiUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json, text/plain, */*',
                'Authorization': `${token}`,
            },
            body: JSON.stringify(transferData)
            }).then(response => response.json())
            .then(data => {
                if (data.msg === 1) {
                    window.location.href=`/fail/id=${data.id}`;
                } else {
                    window.location.href='/success';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
  