<style>
.product-namee {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
    padding-bottom: 7px;
}
.productt:hover .product-namee {
    white-space: normal;
    overflow: initial;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
    padding-bottom: 7px;
    display: block;
    width: 100%;
    -webkit-line-clamp: initial;  /* Hủy bỏ giới hạn dòng khi hover */
}
.product-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; /* Số dòng tối đa */
    font-weight: bold;
    font-size: 20px;
    color: #000000; /* Màu chữ */
    margin-bottom: 10px; /* Khoảng cách từ phía dưới của tên sản phẩm */
    line-height: 1.5; /* Độ cao dòng */
}

.product-imagee {
    width: 150px;
    height: 150px;
    align-items: center;
    justify-items: center;
    align-content: center;
    /*background-color: blue;*/
    padding-bottom: 10px;
}
.product-image {
    width: 150px;
    height: 150px;
    align-items: center;
    justify-items: center;
    align-content: center;
    /*background-color: blue;*/
    padding-bottom: 10px;
}
.productt {
    width: 160px;
    height: 250px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    margin: 10px;
    padding: 5px;
    /*background: black; /* Màu trắng có độ trong suốt 0.8 */
    margin-bottom: 5px;
    
}
.productt:hover {
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}
.card {
    border: none;
    padding-top: 5px;
}
.productCart{
    margin-top: 20px;
    width: 1200px;
    height: 550px;
    /*background-color: black;*/
}
.aaa{
  width: 500px;
  height: 500px;
}
.rowCustom {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Chia thành 2 cột bằng nhau */
    max-width: 1200px;
    margin: 0 auto;
}
.column {
    padding: 10px;
}
.quantity {
    display: flex;
}

.quantity-inputt {
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.minus-btnn,
.plus-btnn {
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: gray;
    background-color: #ffffff;
    cursor: pointer;
    border-width: 1px; 
}
.minus-btnn:hover,
.plus-btnn:hover {
    background-color: #ffffff;
}
.add-btn {
    width: 300px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: red;
    background-color: #ffffff;
    cursor: pointer;
    border-width: 1px; 
    border-color: red;

    background-image: linear-gradient(to right, white 0%, white 50%, red 50%, red 100%);
    background-size: 200% 100%;
    transition: background-position 0.5s;
}
.add-btn:hover {
    background-color: red;
    color: white;
    background-position: -100% 0;
}
.buy-btn {
    width: 300px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    background-color: red;
    color: white;
    cursor: pointer;
    border-width: 1px; 
    border-color: red;
    
    background-image: linear-gradient(to right, rgb(255, 0, 0) 0%, rgb(193, 67, 67) 50%, rgb(255, rgb(255, 255, 255), 255) 50%, rgb(253, 253, 253) 100%);
    background-size: 200% 100%;
    transition: background-position 0.5s;
}
.buy-btn:hover {
    background-color: white;
    color: red;
    background-position: -100% 0;
}

.add-btn,
.buy-btn {
    margin-right: 10px; /* Khoảng cách bên phải giữa hai nút */
}
p {
    font-size: 20px;
}
</style>

<div class="container-fluid d-flex flex-column align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3 productCart product" id="{{product.id}}">
                <div class="rowCustom card">
                    <div class="column">
                        <img src="{{product.images}}" class="product-image aaa" alt="..." >
                    </div>
                    <div class="column">
                        <h2 class="product-name text-left" style="text-align: left;font-weight: bold">{{product.name}}</h2>
                        <p>Mã sản phẩm: 
                            <span class="product-id" style="font-weight: bold;">{{product.id}}</span> 
                        </p>
                        <p>Danh mục: 
                            <span style="font-weight: bold;">{{product.item}}</span> 
                            | 
                            Thương hiệu: 
                            <span style="font-weight: bold;">{{product.producer}}</span> 
                        </p>
                        <p>Tình trạng:
                            <span style="font-weight: bold;">
                                {{#moreThanZero product.count.[0]}}
                                    Còn hàng </span> |
                                    Số lượng còn lại: 
                                    <span style="font-weight: bold;">{{product.count.[0]}}
                                {{else}}
                                    Hết hàng
                                {{/moreThanZero}}
                            </span>                          
                        </p>
                        <p><h2 class="product-price" style="font-weight: bold;color: red;" value="{{product.price}}">{{product.price}} VND</h2>
                        </p>

                        <p>Lựa chọn số lượng: 
                            <span class="quantity">
                                <button class="minus-btnn">-</button>
                                <input type="text" class="quantity-inputt product-count" value="1" data-count="{{product.count.[0]}}">
                                <button class="plus-btnn">+</button>
                            </span>
                        </p>
                        {{#moreThanZero product.count.[0]}}
                                <button class="add-to-cart add-btn ml-2 mb-3">THÊM VÀO GIỎ</button>
                                <button class="buy-btn">MUA NGAY</button>                            
                        {{else}}
                            <h4>Sản phẩm này đã hết hàng</h4>
                            <h4>Vui lòng quay lại sau!</h4>
                        {{/moreThanZero}}
                       
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr style="width: 100%; height: 2.5px; margin: 20px 0;">
    
        <div class="text-left">        
            <h4 class="titleDetails">MÔ TẢ SẢN PHẨM</h4>
            <p>{{product.fullDes}}</p>
        </div>
            <hr style="width: 100%; height: 2.5px; margin: 20px 0;">

        <div>
            <h4 style="margin-top: 20px;"class="tableDetails">Sản phẩm thuộc cùng danh mục</h4>
            <div class="container">
                <div class="row justify-content-left">
                    {{#each productCon}}
                        <div class="col-3 productt" id="product{{this.id}}">
                            <div class="card">
                                <a href="/products/{{this.id}}" >
                                    <img src="https://vcdn1-dulich.vnecdn.net/2022/05/27/du-lich-Viet-Nam-3-1653637304.jpg?w=460&h=0&q=100&dpr=2&fit=crop&s=RfDpCzqu8VqhgKuSKMo3JQ"
                                    class=" product-imagee" alt="...">
                                </a>
                                <a href="/products/{{this.id}}" >
                                    <div class="product-namee text-left">{{this.name}}</div>
                                </a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="product-price">{{this.price}}</span>
                                </div>               
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>

            <h4 style="margin-top: 20px;"class="tableDetails">Có thể bạn cũng thích</h4>
            <div class="container">
                <div class="row justify-content-left">
                    {{#each productSuggest}}
                        <div class="col-3 productt" id="product{{this.id}}">
                            <div class="card">
                                <a href="/products/{{this.id}}" >
                                    <img src="https://vcdn1-dulich.vnecdn.net/2022/05/27/du-lich-Viet-Nam-3-1653637304.jpg?w=460&h=0&q=100&dpr=2&fit=crop&s=RfDpCzqu8VqhgKuSKMo3JQ"
                                    class=" product-imagee" alt="...">
                                </a>                      
                                <a href="/products/{{this.id}}" >
                                    <div class="product-namee text-left">{{this.name}}</div>
                                </a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="product-price">{{this.price}}</span>
                                </div>               
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const minusBtnn = document.querySelector(".minus-btnn");
        const plusBtnn = document.querySelector(".plus-btnn");
        const quantityInputt = document.querySelector(".quantity-inputt");

        minusBtnn.addEventListener("click", function() {
            let value = parseInt(quantityInputt.value);
            value = isNaN(value) ? 0 : value;
            value = value <= 1 ? 1 : value - 1;
            quantityInputt.value = value;
        });

        plusBtnn.addEventListener("click", function() {
            let value = parseInt(quantityInputt.value);
            value = isNaN(value) ? 0 : value;
            value = value + 1;
            quantityInputt.value = value;
        });
    });
    
</script>