<style>
    .filter-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
        width: 90%;
    }
    .pt-5 {
        padding-top: 2rem!important;
    }
.product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}
.product-image {
    width: 170px;
    align-items: center;
}
.product {
    width: 200px;
    height: 350px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0); /* Màu trắng có độ trong suốt 0.8 */
}
.product:hover {
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card {
    border: none;
}
</style>

    <div class="container-fluid text-center">
    <div class="row pt-5">
        <div class="row text-center pt-5">
            <h1>
                Tất cả sản phẩm
            </h1>
        </div>
        <div class="filter-line">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter"
                aria-controls="offcanvasFilter">
                Bộ lọc <i class="fa-solid fa-filter"></i>
            </button>
            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-arrow-down-a-z"></i> Sắp xếp
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item " onclick="sort('increase')" data-sort="increase">Giá tăng dần</a></li>
                    <li><a class="dropdown-item " onclick="sort('decrease')" data-sort="decrease">Giá giảm dần</a></li>
                    <li><a class="dropdown-item " onclick="sort('az')" data-sort="az">Tên: A - Z</a></li>
                    <li><a class="dropdown-item " onclick="sort('za')" data-sort="za">Tên: Z - A</a></li>
                </ul>

            </div>
        </div>


        <div class="offcanvas offcanvas-start text-start" tabindex="-1" id="offcanvasFilter"
            aria-labelledby="offcanvasFilterLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasFilterLabel">BỘ LỌC</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <p>Nhà cung cấp</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Yame">
                        <label class="form-check-label" for="Yame">
                            Yame
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Coolmate">
                        <label class="form-check-label" for="Coolmate">
                            Coolmate
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="TEELAB">
                        <label class="form-check-label" for="TEELAB">
                            TEELAB
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Routine">
                        <label class="form-check-label" for="Routine">
                            Routine
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Khac">
                        <label class="form-check-label" for="Khac">
                            Khác
                        </label>
                    </div>
                    <hr>
                </div>
                <div>
                    <p>Lọc giá</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="500k">
                        <label class="form-check-label" for="500k">
                            Dưới 500.000đ
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="1000k">
                        <label class="form-check-label" for="1000k">
                            500.000đ - 1.000.000đ
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="2000k">
                        <label class="form-check-label" for="2000k">
                            1.000.000đ - 2.000.000đ
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="3000k">
                        <label class="form-check-label" for="3000k">
                            Trên 2.000.000đ
                        </label>
                    </div>
                    <hr>

                </div>

            </div>
        </div>

        <div class="pro d-flex">
            {{#each products}}
            <div class="col-3 pt-3 product" id="{{this.id}}">
                <div class="card p-0">
                    <a href="/products/{{this.id}}" >
                    
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv60V2WaMkrgHK8hloOj5d0Q99Zu11epy0Vw&usqp=CAU"
                        class="card-img-top product-image" alt="..."  style="background-color: #7ddaf2; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    </a>
                    <div class="card-body">
                        <a href="/products/{{this.id}}" ><div class="card-text product-name">{{this.name}}</div></a>
                        
                        <div class="row d-flex mb-0" style="backgound-color: black">
                            <span class="product-price">{{this.price}}</span>
                            <button class="add-to-cart btn btn-primary">THÊM VÀO GIỎ</button>
                        </div>                        
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
                                   








    </div>
    <div class="w-75 d-flex flex-column justify-content-center align-items-center">
        <div class="w-100 d-flex flex-row justify-content-center align-items-center">
            <button class="btn btn-info ms-1 me-1 previous-product" style="width:90px;">Previous</button>
            <input type="number" class="form-control current-page-product" style="width:60px;" min="1" value="1"> /
            <input type="number" class="form-control current-page-max" style="width:60px;" value="{{max}}" disabled>
            <button class="btn btn-info next-product ms-1 me-1" style="width:90px;">Next</button>
        </div>
    </div>
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
  const products = document.querySelectorAll('.product');

  products.forEach(product => {
    product.addEventListener('click', function () {
      const details = this.querySelector('.details');
      alert(details.innerText); // Replace this with your logic to show detailed information
    });
  });
});
$(document).ready(function () {
        $('.next-product').on('click', function () {
            let currentPage = parseInt($('.current-page-product').val());
            let maxPage = parseInt($('.current-page-max').val());
            if (currentPage < maxPage) {
            $('.current-page-product').val(currentPage + 1);
            paging();
        }
    });
    $('.previous-product').on('click', function () {
        let currentPage = parseInt($('.current-page-product').val());
        if (currentPage > 1) {
            $('.current-page-product').val(currentPage - 1);
            paging();
        }
    });
    function paging() {
        fetch('/paging', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ pagenum: parseInt($('.current-page-product').val()) }),
        })
            .then(response => response.json())
            .then(data => {
                $('.pro').html('');
                data.forEach(product => {
                    let productHTML = `
                             <div class="col-3 pt-5">
                                <div class="card m-1">
                                    <img src="${product.images}"
                                        class="card-img-top product-image" alt="...">
                                    <div class="card-body">
                                        <p class="card-text product-id">${product.id}</p>
                                        <p class="card-text product-name">${product.name}</p>
                                        <div class="row d-flex">
                                            <span class="product-price">${product.price}</span>
                                            <button class="add-to-cart btn btn-primary">THÊM VÀO GIỎ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>`;
                    $('.pro').append(productHTML);
                });
            })
            .catch(error => {
                console.error(error);
            });

    }
    function getCheckedCheckboxes() {
        var checkedIds = [];
        $('.form-check-input:checked').each(function () {
            checkedIds.push(this.id);
        });
        return checkedIds;
    }

    $('.form-check-input').on('change', function () {
        var checkedIds = getCheckedCheckboxes();
        fetch('/filter', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ filter: checkedIds }),
        })
            .then(response => response.json())
            .then(data => {
                $('.pro').html('');
                data.pro.forEach(product => {
                    let productHTML = `
                            <div class="col-3 pt-5">
                                <div class="card m-1">
                                    <img src="${product.images}" class="card-img-top product-image" alt="...">
                                    <div class="card-body">
                                        <p class="card-text product-id">${product.id}</p>
                                        <p class="card-text product-name">${product.name}</p>
                                        <div class="row d-flex">
                                            <span class="product-price">${product.price}</span>
                                            <button class="add-to-cart btn btn-primary">THÊM VÀO GIỎ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>`;
                    $('.pro').append(productHTML);
                    $('.current-page-max').val(data.max);
                });
            })
            .catch(error => {
                console.error(error);
            });

    });

    });
    function sort(option) {
        fetch('/sort', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ option: option }),
        })
            .then(response => response.json())
            .then(data => {
                $('.pro').html('');
                data.forEach(product => {
                    let productHTML = `
                            <div class="col-3 pt-5">
                                <div class="card m-1">
                                    <img src="${product.images}" class="card-img-top product-image" alt="...">
                                    <div class="card-body">
                                        <p class="card-text product-id">${product.id}</p>
                                        <p class="card-text product-name">${product.name}</p>
                                        <div class="row d-flex">
                                            <span class="product-price">${product.price}</span>
                                            <button class="add-to-cart btn btn-primary">THÊM VÀO GIỎ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>`;
                    $('.pro').append(productHTML);
                });
            })
            .catch(error => {
                console.error(error);
            });

    }
</script>