<style>
    .filter-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
        width: 90%;
    }

    .pt-5 {
        padding-top: 2rem !important;
    }

    .product-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.3s ease;
        padding-bottom: 12px;
    }

    .product-image {
        width: 320px;
        height: 370px;
        align-items: center;
        justify-items: center;
        align-content: center;
    }

    .product {
        width: 330px;
        height: 460px;
        transition: transform 0.3s ease-in-out;
        position: relative;
        z-index: 1;
        margin: 10px;
        padding: 0;
        background: rgba(0, 0, 0, 0);
        /* Màu trắng có độ trong suốt 0.8 */
        margin-bottom: 50px;

    }

    .card-body {
        padding-top: 5px;
        height: 90px;
        text-align: left;
    }

    .product:hover {
        z-index: 2;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }

    .card {
        border: none;
        padding-top: 5px;
    }
</style>
<div>
<a href="/products">
    Sản phẩm
    </a>
{{#unless catt.catName}}
    
{{else}}
    /
    <a href="/products?catID={{catt.catID}}">
        {{catt.catName}}
    </a>
    {{#unless catt.itemName}}
        
    {{else}}
        / 
        <a href="/products?itemID={{catt.itemID}}">
            {{catt.itemName}} 
        </a>
    {{/unless}}
{{/unless}}
</div>

<div class="container-fluid text-center">
    <div class="row pt-5">
        <div class="row text-center pt-5">
            {{#if keyword}}
            <h1> 
                Tìm kiếm: {{keyword}}
            </h1>

            {{else}}
            <h1>
                Tất cả sản phẩm
            </h1>
            {{/if}}
        </div>
        <div class="filter-line">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter"
                aria-controls="offcanvasFilter">
                Bộ lọc <i class="fa-solid fa-filter"></i>
            </button>
            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-arrow-down-a-z"></i> Sắp xếp
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item " onclick="sort('increase')" data-sort="increase">Giá tăng dần</a></li>
                    <li><a class="dropdown-item " onclick="sort('decrease')" data-sort="decrease">Giá giảm dần</a></li>
                    <li><a class="dropdown-item " onclick="sort('az')" data-sort="az">Tên: A - Z</a></li>
                    <li><a class="dropdown-item " onclick="sort('za')" data-sort="za">Tên: Z - A</a></li>
                </ul>

            </div>
        </div>


        <div class="offcanvas offcanvas-start text-start" tabindex="-1" id="offcanvasFilter"
            aria-labelledby="offcanvasFilterLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasFilterLabel">BỘ LỌC</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <p>Nhà cung cấp</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Yame">
                        <label class="form-check-label" for="Yame">
                            Yame
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Coolmate">
                        <label class="form-check-label" for="Coolmate">
                            Coolmate
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="TEELAB">
                        <label class="form-check-label" for="TEELAB">
                            TEELAB
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Routine">
                        <label class="form-check-label" for="Routine">
                            Routine
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Khac">
                        <label class="form-check-label" for="Khac">
                            Khác
                        </label>
                    </div>
                    <hr>
                </div>
                <div>
                    <p>Lọc giá</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="500k">
                        <label class="form-check-label" for="500k">
                            Dưới 500.000đ
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="1000k">
                        <label class="form-check-label" for="1000k">
                            500.000đ - 1.000.000đ
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="2000k">
                        <label class="form-check-label" for="2000k">
                            1.000.000đ - 2.000.000đ
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="3000k">
                        <label class="form-check-label" for="3000k">
                            Trên 2.000.000đ
                        </label>
                    </div>
                    <hr>

                </div>

            </div>
        </div>

        <div class="pro d-flex">
            <div class="container">
                <div class="row justify-content-center">
                    {{#each products}}
                    <div class="col-3 product" id="{{this.id}}">
                        <div class="card">
                            <a href="/products/{{this.id}}">
                                <img src="{{this.images}}"
                                    class=" product-image" alt="...">
                            </a>
                            <div class="card-body">
                                <a href="/products/{{this.id}}">
                                    <div class="product-name text-left">{{this.name}}</div>
                                </a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="product-price">{{this.price}}</span>
                                    {{#ifCon this.count '>' 0}}
                                        <button class="add-to-cart btn btn-primary ml-2">THÊM VÀO GIỎ</button>
                                    {{/ifCon}}
                                    {{#ifCon this.count '<=' 0}}
                                        <button class="add-to-cart btn btn-primary ml-2" disabled>THÊM VÀO GIỎ</button>
                                    {{/ifCon}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>
    <div class="w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="w-100 d-flex flex-row justify-content-center align-items-center">
            <button class="btn btn-info ms-1 me-1 previous-product" style="width:90px;">Previous</button>
            <input type="number" class="form-control current-page-product" style="width:60px;" min="1" value="1"> /
            <input type="number" class="form-control current-page-max" style="width:60px;" value="{{max}}" disabled>
            <button class="btn btn-info next-product ms-1 me-1" style="width:90px;">Next</button>
        </div>
    </div>
</div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        const products = document.querySelectorAll('.product');

        products.forEach(product => {
            product.addEventListener('click', function () {
                const details = this.querySelector('.details');
                alert(details.innerText); // Replace this with your logic to show detailed information
            });
        });
    });
    $(document).ready(function () {
        $('.next-product').on('click', function () {
            let currentPage = parseInt($('.current-page-product').val());
            let maxPage = parseInt($('.current-page-max').val());
            if (currentPage < maxPage) {
                $('.current-page-product').val(currentPage + 1);
                paging();
            }
        });
        $('.previous-product').on('click', function () {
            let currentPage = parseInt($('.current-page-product').val());
            if (currentPage > 1) {
                $('.current-page-product').val(currentPage - 1);
                paging();
            }
        });
        $('.current-page-product').on('change', function () {
            let currentPage = parseInt($(this).val());
            let maxPage = parseInt($('.current-page-max').val());

            if (isNaN(currentPage) || currentPage < 1 || currentPage > maxPage) {
                alert('Vui lòng nhập một số trang hợp lệ.');
                $(this).val('1');
                return;
            }
            paging();

        });
        function paging() {
            fetch('/paging', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ pagenum: parseInt($('.current-page-product').val()) }),
            })
                .then(response => response.json())
                .then(data => {
                    $('.pro').html('');
                    data.forEach(product => {
                        let productHTML = `
             <div class="container">
                <div class="row justify-content-center">
                    <div class="col-3 product" id="${product.id}">
                        <div class="card">
                            <a href="/products/${product.id}" >
                                <img src="${product.images}"
                                    class=" product-image" alt="...">
                            </a>
                            <div class="card-body">
                                <a href="/products/${product.id}" >
                                    <div class="product-name text-left">${product.name}</div>
                                </a>
                                <div class="d-flex justify-content-between align-items-center">
                            <span class="product-price">${product.price}</span>
                            <button class="add-to-cart btn btn-primary ml-2">THÊM VÀO GIỎ</button>
                        </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </div>`;
                        $('.pro').append(productHTML);
                    });
                })
                .catch(error => {
                    console.error(error);
                });

        }
        function getCheckedCheckboxes() {
            var checkedIds = [];
            $('.form-check-input:checked').each(function () {
                checkedIds.push(this.id);
            });
            return checkedIds;
        }

        $('.form-check-input').on('change', function () {
            var checkedIds = getCheckedCheckboxes();
            fetch('/filter', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ filter: checkedIds }),
            })
                .then(response => response.json())
                .then(data => {
                    $('.pro').html('');
                    data.pro.forEach(product => {
                        let productHTML = `
                         <div class="container">
                <div class="row justify-content-center">
                    <div class="col-3 product" id="${product.id}">
                        <div class="card">
                            <a href="/products/${product.id}" >
                                <img src="${product.images}"
                                    class=" product-image" alt="...">
                            </a>
                            <div class="card-body">
                                <a href="/products/${product.id}" >
                                    <div class="product-name text-left">${product.name}</div>
                                </a>
                                <div class="d-flex justify-content-between align-items-center">
                            <span class="product-price">${product.price}</span>
                            <button class="add-to-cart btn btn-primary ml-2">THÊM VÀO GIỎ</button>
                        </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </div>`;
                        $('.pro').append(productHTML);
                        $('.current-page-max').val(data.max);
                        $('.current-page-product').val(1);
                    });
                })
                .catch(error => {
                    console.error(error);
                });

        });

    });
    function sort(option) {
        fetch('/sort', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ option: option }),
        })
            .then(response => response.json())
            .then(data => {
                $('.pro').html('');
                data.forEach(product => {
                    let productHTML = `
                             <div class="container">
                <div class="row justify-content-center">
                    <div class="col-3 product" id="${product.id}">
                        <div class="card">
                            <a href="/products/${product.id}" >
                                <img src="${product.images}"
                                    class=" product-image" alt="...">
                            </a>
                            <div class="card-body">
                                <a href="/products/${product.id}" >
                                    <div class="product-name text-left">${product.name}</div>
                                </a>
                                <div class="d-flex justify-content-between align-items-center">
                            <span class="product-price">${product.price}</span>
                            <button class="add-to-cart btn btn-primary ml-2">THÊM VÀO GIỎ</button>
                        </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </div>`;
                    $('.pro').append(productHTML);
                    $('.current-page-product').val(1);

                });
            })
            .catch(error => {
                console.error(error);
            });

    }
</script>