<h1 class="pt-5 text-center">Thống kê</h1>
<div class="d-flex ">
    <div id="myPlot" style="width:100%;max-width:700px;height:100%"></div>
    <div class="row w-100 h-25 m-3 p-4">
        <form class="card bg-light row w-100 h-25 m-3 p-4" action="/admin/table" method="POST">
            <input type="date" id="datepicker" name="datepicker" style="height:35px" required>
            <button class="btn btn-primary mt-3">Thống kê</button>
        </form>
        {{#unless table}}
        <h1>Không có dữ liệu</h1>  
        {{/unless}}
        {{#if table}}
        <div class="overflow-y-auto" style="height:200px">
            <table class="table table-striped mt-1">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each table}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.soluong}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{/if}}
        
    </div>

</div>

<script>
    const xArray = {{{ x }}};
    const yArray = {{{ y }}};

    const data = [{
        x: xArray,
        y: yArray,
        type: "bar",
        orientation: "v",
        marker: { color: "rgba(0,0,255,0.6)" }
    }];

    const layout = { title: "Biểu đồ thống kê doanh thu" };

    Plotly.newPlot("myPlot", data, layout);
</script>