
<style>
.product-namee {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
    padding-bottom: 7px;
}

.productt:hover .product-namee {
    white-space: normal;
    overflow: initial;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
    padding-bottom: 10px;
    display: block;
    width: 100%;
    -webkit-line-clamp: initial;
/* Hủy bỏ giới hạn dòng khi hover */
}
.error-message {
    color: red;
    font-size: 0.875rem;
    display: none;
}
.error {
    color: red;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
}
.product-name {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
    padding-bottom: 12px;
}

.product-imagee {
    width: 150px;
    height: 150px;
    align-items: center;
    justify-items: center;
    align-content: center;
    /*background-color: blue;*/
    padding-bottom: 10px;
}

.product-image {
    width: 150px;
    height: 150px;
    align-items: center;
    justify-items: center;
    align-content: center;
    /*background-color: blue;*/
    padding-bottom: 10px;
}

.productt {
    width: 160px;
    height: 280px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    margin: 10px;
    padding: 5px;
    /*background: black; /* Màu trắng có độ trong suốt 0.8 */
    margin-bottom: 5px;

}

.productt:hover {
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card {
    border: none;
    padding-top: 5px;
}

.productCart {
    margin-top: 20px;
    width: 1200px;
    height: 550px;
    /*background-color: black;*/
}

.aaa {
    width: 500px;
    height: 500px;
}

.rowCustom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Chia thành 2 cột bằng nhau */
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    padding: 10px;
}

.quantity {
    display: flex;
}

.quantity-inputt {
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

p {
font-size: 20px;
    }
</style>
<div>
<a href="/admin/products">
    Sản phẩm
    </a>
    /
    <a href="/admin/products?catID={{catt.catID}}">
    {{catt.catName}}
    </a>
     / 
     <a href="/admin/products?itemID={{catt.itemID}}">
     {{catt.itemName}} 
     </a>
     / {{product.name}}
</div>
<div class="container-fluid d-flex flex-column align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3 productCart product" id="{{product.id}}">
                <div class="rowCustom card">
                    <div class="column">
                        <img src="{{product.images}}" class="product-image aaa" alt="...">
                    </div>
                    <div class="column">
                        <h2 class="product-name text-left" style="text-align: left;font-weight: bold">{{product.name}}
                        </h2>
                        <p>Mã sản phẩm:
                            <span class="product-id" style="font-weight: bold;">{{product.id}}</span>
                        </p>
                        <p>Danh mục:
                            <span style="font-weight: bold;">{{product.item}}</span>
                            |
                            Thương hiệu:
                            <span style="font-weight: bold;">{{product.producer}}</span>
                        </p>
                        <p>Tình trạng:
                            <span style="font-weight: bold;">
                                {{#moreThanZero product.count}}
                                Còn hàng
                                {{else}}
                                Hết hàng
                                {{/moreThanZero}}
                            </span>
                        </p>
                        <p>Số lượng trong kho:
                            <span style="font-weight: bold;">{{product.count}}</span>
                        </p>
                        <p> Giá: 
                        <span class="product-price" style="font-weight: bold;color: red;" value="{{product.price}}">
                            {{product.price}} VND</span>
                        </p>
                        <p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{product.id}}">
                                Chỉnh sửa
                            </button>                        
                            <div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="addProductModalLabel">Chỉnh sửa thông tin sản phẩm</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form  action="/admin/products/{{product.id}}" method="post" id="productForm">
                                                <div class="mb-3">
                                                    <label for="inputID1" class="form-label">ID</label>
                                                    <input type="text" class="form-control" id="inputID1" name="inputID1" value="{{product.id}}"placeholder="ID: " readonly>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="inputName1" class="form-label">Tên sản phẩm</label>
                                                    <input type="text" class="form-control" id="inputName1" name="inputName1" value="{{product.name}}" placeholder="Nhập tên sản phẩm">
                                                    <i class="error newName"></i>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="fullDes1" class="form-label">Mô tả</label>
                                                    <textarea class="form-control" id="fullDes1" name="fullDes1" rows="3" value="{{product.fullDes}}" >{{product.fullDes}}</textarea>
                                                    <i class="error newDes"></i>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="price1" class="form-label">Giá</label>
                                                    <input type="number" class="form-control" id="price1" name="price1" value="{{product.price}}" placeholder="Nhập giá">
                                                    <i class="error newPrice"></i>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="items1" class="form-label">Danh mục</label>
                                                    <select class="form-select form-select-sm" aria-label="Small select example" id="items1" name="items1" >
                                                        <option value="{{product.item}}" style="display:none" selected>Chọn danh mục</option>
                                                        {{#each categories}}
                                                            {{#each items}}
                                                        <option value="{{this.itemID}}">{{this.itemName}}</option>
                                                        {{/each}}
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="count1" class="form-label">Số lượng</label>
                                                    <input class="form-control" id="count1" name="count1" value="{{product.count}}" placeholder="Nhập số lượng">
                                                    <i class="error newCount"></i>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="producer1" class="form-label">Nhà sản xuất</label>
                                                    <input type="text" class="form-control" id="producer1" name="producer1" value="{{product.producer}}" placeholder="Nhập nhà sản xuất">
                                                    <i class="error newProducer"></i>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                    <button class="btn btn-primary btnChange" type="submit" >Lưu thay đổi</button>
                                                </div>
                                            </form>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr style="width: 100%; height: 2.5px; margin: 20px 0;">

    <div class="text-left">
        <h4 class="titleDetails">MÔ TẢ SẢN PHẨM</h4>
        <p>{{product.fullDes}}</p>
    </div>
    <hr style="width: 100%; height: 2.5px; margin: 20px 0;">

    <div>
        <h4 style="margin-top: 20px;" class="tableDetails">Sản phẩm thuộc cùng danh mục</h4>
        <div class="container">
            <div class="row justify-content-left">
                {{#each productCon}}
                <div class="col-3 productt product" id="{{this.id}}">
                    <div class="card">
                        <a href="/admin/products/{{this.id}}">
                            <img src="{{this.images}}"
                                class=" product-imagee product-image" alt="...">
                        </a>
                       
                            <div class="product-namee product-name text-left">{{this.name}}</div>
                        
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="product-price">{{this.price}}</span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <h4 style="margin-top: 20px;" class="tableDetails">Có thể bạn cũng thích</h4>
        <div class="container">
            <div class="row justify-content-left">
                {{#each productSuggest}}
                <div class="col-3 productt product" id="{{this.id}}">
                    <div class="card">
                        <a href="/admin/products/{{this.id}}">
                            <img src="{{this.images}}"
                                class=" product-imagee product-image" alt="...">
                        </a>
                       
                            <div class="product-namee product-name text-left">{{this.name}}</div>
                       
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="product-price">{{this.price}}</span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    /*$(document).ready(function () {
        $('.cart').on('click', '#pluss', function () {
            var quantityInput = $(this).find('.product-count');
            var currentQuantity = parseInt(quantityInput.val());
            quantityInput.val(currentQuantity + 1);
        });
        $('.cart').on('click', '#minuss', function () {
            var quantityInput = $(this).find('.product-count');
            var currentQuantity = parseInt(quantityInput.val());
            if (currentQuantity == 0) {
                quantityInput.val(currentQuantity);
            }
            else {
                quantityInput.val(currentQuantity - 1);
                console.log(quantityInput.val());
            }
        });
    }); */
    document.addEventListener("DOMContentLoaded", function () {
        const minusBtn = document.querySelector(".minus-btnn");
        const plusBtn = document.querySelector(".plus-btnn");
        const quantityInput = document.querySelector(".product-count");
        const addBtn = document.querySelector(".add-to-cart");

        // Hàm cập nhật giá trị
        function updateValue() {
            let value = parseInt(quantityInput.value);
            const max = parseInt(quantityInput.getAttribute("max"));
            value = isNaN(value) ? 0 : value;
            value = value < 1 ? 0 : value;
            value = value > max ? max : value;
            quantityInput.value = value;
        }
        /*addBtn.addEventListener("click", function() {
            let value = parseInt(quantityInput.value);
            const max = parseInt(quantityInput.getAttribute("max"));
            if (value == 0){
                alert("Vui lòng chọn số lượng")
            }
            let new = max - value;
            quantityInput.setAttribute(max,toString(new));

            
        })*/
        // Bắt đầu theo dõi sự kiện input cho trường nhập liệu "product-count"
        quantityInput.addEventListener("input", updateValue);

        minusBtn.addEventListener("click", function () {
            let value = parseInt(quantityInput.value);
            value = isNaN(value) ? 0 : value;
            value = value <= 1 ? 1 : value - 1;
            quantityInput.value = value;
        });

        plusBtn.addEventListener("click", function () {
            let value = parseInt(quantityInput.value);
                        const max = parseInt(quantityInput.getAttribute("max"));
            value = isNaN(value) ? 0 : value;
            value = value + 1;
            if (max && value >= max){
                value = max;
            }
            quantityInput.value = value;

        });
    });


    $(() => {      
  const str = /^(?=\S)(?!.*\s{2,})[a-zA-Z0-9\sáàảãạăắằẳẵặâấầẩẫậéèẻẽẹêếềểễệíìỉĩịóòỏõọôốồổỗộơớờởỡợúùủũụưứừửữựýỳỷỹỵÁÀẢÃẠĂẮẰẲẴẶÂẤẦẨẪẬÉÈẺẼẸÊẾỀỂỄỆÍÌỈĨỊÓÒỎÕỌÔỐỒỔỖỘƠỚỜỞỠỢÚÙỦŨỤƯỨỪỬỮỰÝỲỶỸỴ]{5,}(?<=\S)$/;
 
  const showError1 = (message) => {
    $(".error.newName").text(message);
    $(".error.newName").css("visibility", "visible");
  };
  const hideError1 = () => {
    $(".error.newName").text("");
    $(".error.newName").css("visibility", "hidden");
  };
 
    const showError2 = (message) => {
    $(".error.newDes").text(message);
    $(".error.newDes").css("visibility", "visible");
  };
  const hideError2 = () => {
    $(".error.newDes").text("");
    $(".error.newDes").css("visibility", "hidden");
  };
  
    const showError3 = (message) => {
    $(".error.newPrice").text(message);
    $(".error.newPrice").css("visibility", "visible");
  };
  const hideError3 = () => {
    $(".error.newPrice").text("");
    $(".error.newPrice").css("visibility", "hidden");
  };
    const showError5 = (message) => {
    $(".error.newCount").text(message);
    $(".error.newCount").css("visibility", "visible");
  };
  const hideError5 = () => {
    $(".error.newCount").text("");
    $(".error.newCount").css("visibility", "hidden");
  };

    const showError6 = (message) => {
    $(".error.newProducer").text(message);
    $(".error.newProducer").css("visibility", "visible");
  };
  const hideError6 = () => {
    $(".error.newProducer").text("");
    $(".error.newProducer").css("visibility", "hidden");
  };

  $("#inputName1").on("blur", async function(e){
    const value = e.target.value;
    if (!value.match(str)) {
      showError1("Tên sản phẩm phải nhiều hơn 5 ký tự, chỉ chứa chữ và số (nếu có), không có nhiều hơn 1 khoảng trắng giữa các từ, không bắt đầu hay kết thúc bằng khoảng trắng");
    } else {
      hideError1();
    }
  });
  $("#inputName1").on("focus", async function (e) {
    hideError1();
});
    
  $("#fullDes1").on("blur", async function(e){
    const value = e.target.value;
    if (!value.match(str)) {
      showError2("Mô tả phải nhiều hơn 5 ký tự, chỉ chứa chữ và số (nếu có), không có nhiều hơn 1 khoảng trắng giữa các từ, không bắt đầu hay kết thúc bằng khoảng trắng");
    } else {
      hideError2();
    }
  });
  $("#fullDes1").on("focus", async function (e) {
    hideError2();
});


  $("#price1").on("blur", async function(e){
    const value = e.target.value;
    if (value < 10000) {
      showError3("Nhập giá lớn hơn hoặc bằng 10.000");
    } else {
      hideError3();
    }
  });
  $("#price1").on("focus", async function (e) {
    hideError3();
});

  $("#count1").on("blur", async function(e){
    const value = e.target.value;
    if (value < 1) {
      showError5("Nhập số lượng lớn hơn 0");
    } else {
      hideError5();
    }
  });
  $("#count1").on("focus", async function (e) {
    hideError5();
});


  $("#producer1").on("blur", async function(e){
    const value = e.target.value;
    if (!value.match(/^.+$/)) {
      showError6("Không để trống");
    } else {
      hideError6();
    }
  });
  $("#producer1").on("focus", async function (e) {
    hideError6();
});

$(document).ready(function () {
    $(document).on('click', '.btnChange', function (e) {
        e.preventDefault();
        
        hideError1();
        hideError2();
        hideError3();
        hideError5();
        hideError6();
    })
});
});
</script>